<!DOCTYPE = html>
<html>
	<head>
		<title> I.D.M. Cylinder Heads </title>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	</head>

	<!-- Logo Header -->
	<div id=logo>
		<%= link_to image_tag("templogo.jpg", :alt => "Cannot Display Logo", :style => "width:240px;height:100px"), '/' %>
		<h2> (609) 978-6411 </h2>
	</div>

	
	<%= render 'layouts/navigation' %>

	<body>

	<div id=footer>Copyright 2016. All rights reserved</div>

	</body>


</html>

