<!DOCTYPE = html>
	<head>
		<title> I.D.M. Cylinder Heads </title>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	</head>

    <%= render 'layouts/header' %>	
	<%= render 'layouts/navigation' %>