<!DOCTYPE = html>
	<head>
		<title> I.D.M. Cylinder Heads </title>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	</head>

    <%= render 'layouts/header' %>	
	<%= render 'layouts/navigation' %>
	
    <div id="map">
        <iframe width="800" height="700" frameborder="0" style="border:0"
                 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB010i6WwOP0J0S6aCIMUon9VEQDeixU0M&q=870 S Main St, West Creek, NJ 08092"
                 allowfullscreen>
        </iframe>
    </div>
    
    <footer style="padding-top: 10px">Copyright 2016. All rights reserved</footer>
