	<!-- Logo Header -->
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	
	<div id=logo>
		<%= link_to image_tag("templogo.jpg", :alt => "Cannot Display Logo", :style => "width:240px;height:100px"), '/' %> 
		<h2> (609) 978-6411 </h2>
	</div>