	<!-- Navagation Bar -->
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	
	<div id=left>
		<table id=navbar border="1">
			<tr><td><%= link_to "Location", 'pages/location' %></td></tr>
			<tr><td><%= link_to "Services", 'pages/services' %></td></tr>
			<tr><td><%= link_to "About Us", '/pages/about_us' %></td></tr>
			<tr><td>Our Partners</td></tr>
		</table>
	</div>