<!DOCTYPE html>
<html>
<head>
  <title>IDM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//maps.google.com/maps/api/js?key=[AIzaSyB010i6WwOP0J0S6aCIMUon9VEQDeixU0M]"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
